
<div class="form_item_block">
    <h1>MsTeams Notifier Plugin</h1>
    <h4>Note - Values here are for demonstration purpose only</h4>
</div>

<div class="form_item_block">

    <h4><label>Host:</label></h4>
    <input ng-model="formConfiguration.host" type="text"/>
    <fieldset ng-repeat="msTeamsConfig in formConfiguration.msTeamsConfigs"
              ng-init="msTeamsConfigIndex = $index" style="margin-bottom: 10px">
        <legend>MS Team Config</legend>
        <table>
            <thead>
            <tr>
                <th><h4 class="dest"> Display Name </h4></th>
            </tr>
            </thead>
            <tr style="margin-bottom: 15px; margin-top: 10px;">
                <td class="name_value_cell">
                    <input ng-model="msTeamsConfig.displayName" type="text">
                </td>
            </tr>
        </table>

        <h4><label>Icon URL</label></h4>
        <input ng-model="msTeamsConfig.iconUrl" type="text"><br>

        <fieldset>
            <legend>Channels</legend>
            <table>

                <tr ng-repeat="channel in msTeamsConfig.channels" ng-init="channelIndex = $index">
                    <td>
                        <span class="icon_remove delete_parent"
                              ng-click="removeChannel(msTeamsConfigIndex, channelIndex)"></span>
                    </td>
                    <td>
                        <input type="text" ng-model="channel.webhookUrl">
                    </td>
                </tr>
            </table>

        </fieldset>
        <a id="add_channel" ng-click="addChannel(msTeamsConfigIndex)" class="action_icon skip_dirty_stop add_icon"
           title=""
           href="#"><span class="icon"></span><span>Add Channel</span></a>
        <br>
        <fieldset>
            <legend>Pipeline Config</legend>
            <div ng-repeat="pipelineConfig in msTeamsConfig.pipelineConfigs" ng-init="pipelineConfigIndex = $index">
                <table>
                    <tr>
                        <td>
                            <span class="icon_remove delete_parent"
                                  ng-click="removePipelineConfig(msTeamsConfigIndex, pipelineConfigIndex)"></span>
                        </td>
                        <td>
                            <table>
                                <thead>
                                <tr>
                                    <th><h4 class="src"> Pipeline </h4></th>
                                    <th><h4 class="dest"> Stage </h4></th>
                                    <th><h4 class="dest"> Group </h4></th>
                                </tr>
                                </thead>
                                <tr style="margin-bottom: 15px; margin-top: 10px;">
                                    <td class="name_value_cell">
                                        <input ng-model="pipelineConfig.pipeline" type="text"/>
                                    </td>
                                    <td class="name_value_cell">
                                        <input ng-model="pipelineConfig.stage" type="text"/>
                                    </td>
                                    <td class="name_value_cell">
                                        <input ng-model="pipelineConfig.group" type="text"/>
                                    </td>
                                </tr>
                            </table>
                            <label>Statuses</label>
                            <input ng-model="pipelineConfig.statuses" type="text">
                        </td>
                    </tr>
                </table>

            </div>
        </fieldset>
        <a id="add_pipeline_config" ng-click="addPipelineConfig(msTeamsConfigIndex)"
           class="action_icon skip_dirty_stop add_icon"
           title=""
           href="#"><span class="icon"></span><span>Add Pipeline Config</span></a>
    </fieldset>

    <input id="sourceDestinations" type="hidden" ng-model="configuration" value="{{configuration}}">
    <a id="add_ms_teams_config" ng-click="addMsTeamsConfig()" class="action_icon skip_dirty_stop add_icon"
       title=""
       href="#"><span class="icon"></span><span>Add MS Team Config</span></a>
    <span class="form_error" ng-show="GOINPUTNAME[pipelineConfig].$error.goCdClient">{{ GOINPUTNAME[pipelineConfig].$error.goCdClient }}</span>
</div>

<script type="text/javascript">
    var allPipelines;
    setTimeout(function () {

        jQuery("#pipeline-configurations").on("result", "input.slack-pipelines-autocomplete", function () {
            jQuery(this).trigger("input");
        });

        jQuery.get("/go/cctray.xml", function (data) {
            var pipelines =
                _.map(
                    _.uniq(
                        _.filter(
                            _.map(jQuery(data).find("Project"), function (project) {
                                return jQuery(project).attr("name");
                            })
                            , function (projectName) {
                                return projectName.split("::").length == 3;
                            })
                    ), function (projectName) {
                        nameParts = projectName.split("::");
                        return {
                            "pipeline": _.trim(nameParts[0]),
                            "stage": _.trim(nameParts[1]),
                            "job": _.trim(nameParts[2])
                        };
                    });
            allPipelines = pipelines;

            var interval = setInterval(function () {
                $scope = angular.element(document.getElementById("plugin_settings_angular_plugin_settings")).scope();

                var EMPTY_STRING = "";
                var DEFAULT_PIPELINE_CONFIG = {
                    pipeline: EMPTY_STRING,
                    stage: EMPTY_STRING,
                    group: EMPTY_STRING,
                    statuses: EMPTY_STRING
                };
                var DEFAULT_MS_TEAMS_CONFIG = {
                    displayName: EMPTY_STRING, iconUrl: EMPTY_STRING,
                    channels: [{webhookUrl: ""}], pipelineConfigs: [{
                        pipeline: EMPTY_STRING,
                        stage: EMPTY_STRING,
                        group: EMPTY_STRING,
                        statuses: EMPTY_STRING
                    }]
                }



                var DEFAULT_CONFIGURATION = {host: "", msTeamsConfigs: [DEFAULT_MS_TEAMS_CONFIG]}

                $scope.$apply(function () {
                    $scope.pipelines = $scope.pipelineConfig ? JSON.parse($scope.pipelineConfig) : [DEFAULT_PIPELINE_CONFIG];
                    if (!$scope.formConfiguration) {
                        $scope.formConfiguration = DEFAULT_CONFIGURATION;
                    }

                    $scope.addMsTeamsConfig = function () {
                        $scope.formConfiguration.msTeamsConfigs.push(
                            {
                                displayName: EMPTY_STRING, iconUrl: EMPTY_STRING,
                                channels: [{webhookUrl: ""}], pipelineConfigs: [{
                                    pipeline: EMPTY_STRING,
                                    stage: EMPTY_STRING,
                                    group: EMPTY_STRING,
                                    statuses: EMPTY_STRING
                                }]
                            }
                        );
                    }
                    $scope.removeMsTeamsConfig = function (index) {
                        $scope.formConfiguration.msTeamsConfigs.splice(index, 1);
                    }

                    $scope.addPipelineConfig = function (msTeamsConfigIndex) {
                        $scope.formConfiguration.msTeamsConfigs[msTeamsConfigIndex].pipelineConfigs.push(
                            {
                                pipeline: EMPTY_STRING,
                                stage: EMPTY_STRING,
                                group: EMPTY_STRING,
                                statuses: EMPTY_STRING
                            }
                        );
                    };
                    $scope.removePipelineConfig = function (msTeamsConfigIndex, pipelineConfigIndex) {
                        $scope.formConfiguration.msTeamsConfigs[msTeamsConfigIndex].pipelineConfigs.splice(pipelineConfigIndex, 1);
                    };
                    $scope.addChannel = function (msTeamsConfigIndex) {
                        $scope.formConfiguration.msTeamsConfigs[msTeamsConfigIndex].channels.push({webhookUrl: EMPTY_STRING});
                    };
                    $scope.removeChannel = function (msTeamsConfigIndex, channelIndex) {

                        $scope.formConfiguration.msTeamsConfigs[msTeamsConfigIndex].channels.splice(channelIndex, 1);
                    };
                    slackPluginUpdateAutocompleteViews();
                });
                $scope.$watch("formConfiguration", function () {
                    $scope.configuration = createConfiguration($scope.formConfiguration)
                    slackPluginUpdateAutocompleteViews();
                }, true);
                clearInterval(interval);
                slackPluginUpdateAutocompleteViews();
            }, 50);
        });
    }, 50);

    function slackPluginUpdateAutocompleteViews() {
        jQuery(".slack-pipelines-autocomplete").autocomplete(allPipelines, {
            minChars: 0,
            width: 400,
            matchContains: "word",
            autoFill: false,
            formatItem: function (row, i, max) {
                return row.pipeline + " | " + row.stage + " | " + row.job;
            },
            formatMatch: function (row, i, max) {
                return row.pipeline + " " + row.stage + " " + row.job;
            },
            formatResult: function (row) {
                return row.pipeline + " | " + row.stage + " | " + row.job;
            }
        });
    }

    function createConfiguration (formConfiguration) {

        console.debug('in' + formConfiguration);

        var configuration = {
            msTeamsConfig: [],
        }
        formConfiguration.msTeamsConfigs.forEach(msTeamsConfig => {
           configuration.msTeamsConfig.push({
               displayName: msTeamsConfig.displayName,
               iconUrl: msTeamsConfig.iconUrl,
               channels: msTeamsConfig.channels.map(channelObj => channelObj.webhookUrl),
               pipelineConfig: msTeamsConfig.pipelineConfigs.map(pipelineConfig => {
                   return {
                       nameRegex: pipelineConfig.pipeline,
                       stageRegex: pipelineConfig.stage,
                       groupRegex: pipelineConfig.group,
                       pipelineStatus: pipelineConfig.statuses.split("|").map((status => status.trim().toUpperCase()))
                   }
               })
           })
        });
        console.debug('out' + configuration);
        return configuration;
    }

</script>
<style type="text/css">
    input.slack-plugin-input {
        width: 210px;
    }

    table {
        width: 100%;
    }

    .form_item_block input {
        width: 100%;
    }

    fieldset {
        padding: 10px 5px;
        margin-bottom: 10px;
    }

</style>
